#IntelliJ
.idea/*
**.iml

#Maven
target/*
Mojang_API/target/*
Spigot_Addon_Give/target/*
Spigot_Addon_Give_Common/target/*
Spigot_Addon_Give_1_12_R1/target/*
Spigot_Addon_Give_1_15_R1/target/*
Spigot_Addon_Give_1_16_R3/target/*
Spigot_Addon_Give_1_17_1_R1/target/*
Spigot_Addon_Give_1_18_2_R2/target/
Spigot_Addon_Give_1_19_R1/target/
Spigot_Addon_Give_1_19_1_R1/target/
Spigot_Common/target/*
Spigot_PerWorldInventory/target/*
Spigot_MultiverseInventories/target/*
Spigot_Impl_1_12_R1/target/*
Spigot_Impl_1_15_R1/target/*
Spigot_Impl_1_16_R3/target/*
Spigot_Impl_1_17_1_R1/target/*
Spigot_Impl_1_18_2_R2/target/*
Spigot_Impl_1_19_R1/target/*
Spigot_Impl_1_19_1_R1/target/*
Spigot_Plugin/target/*
Utils/target/*

#Eclipse
**/.settings/*
**/.project
**/.classpath

