#IntelliJ
.idea/*
**.iml

#Maven
target/*
Mojang_API/target/*
Spigot_API/target/*
Spigot_Impl_1_16_R1/target/*
Spigot_Impl_1_16_R2/target/*
Spigot_Plugin/target/*
Utils/target/*

#Eclipse
.settings/*
.project
.classpath

