#IntelliJ
.idea/*
**.iml

#Maven
target/*
Mojang_API/target/*
Spigot_Common/target/*
Spigot_PerWorldInventory/target/*
Spigot_MultiverseInventories/target/*
Spigot_Impl_1_12_R1/target/*
Spigot_Impl_1_15_R1/target/*
Spigot_Impl_1_16_R1/target/*
Spigot_Impl_1_16_R2/target/*
Spigot_Impl_1_16_R3/target/*
Spigot_Impl_1_17_R1/target/*
Spigot_Impl_1_17_1_R1/target/*
Spigot_Impl_1_18_R1/target/*
Spigot_Impl_1_18_1_R1/target/*
Spigot_Impl_1_18_2_R2/target/*
Spigot_Plugin/target/*
Utils/target/*

#Eclipse
**/.settings/*
**/.project
**/.classpath

